body, h1 {
    color: whitesmoke;
    font-family: Georgia, Helvetica, sans-serif;
}

.container {
    margin: 10rem 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
}

.block {
    border-radius: 1rem;
    border: 0.1rem solid #212121;
    box-shadow: 0 0 10px #212121, 0 0 20px #212121, 0 0 25px #212121, 0 0 30px #212121, 0 0 35px #212121;
    margin: 3rem;
    padding: 0 1rem 0 1rem;
    background: #212121;
}

.card {
    padding: 1rem;
    animation: 50s moveBG linear infinite;
}

.homeDisplay {
    height: 20rem;
    width: 100%;
}

.blackBG {
    background: repeating-linear-gradient(
            190deg,
            rgba(0, 0, 0, 0.58) 40px,
            rgb(12, 12, 10) 80px,
            rgba(7, 7, 6, 0.57) 120px,
            rgba(19, 19, 18, 0.5) 160px,
            rgba(10, 10, 10, 0.5) 200px,
            rgba(0, 0, 0, 0.47) 240px,
            rgba(16, 15, 14, 0.5) 280px,
            rgba(12, 12, 11, 0.5) 300px
    ), repeating-linear-gradient(
            -190deg,
            rgba(0, 0, 0, 0.5) 30px,
            rgba(0, 0, 0, 0.5) 60px,
            rgb(24, 24, 23) 90px,
            rgba(17, 17, 17, 0.5) 120px,
            rgb(28, 24, 24) 150px,
            rgba(9, 8, 8, 0.5) 180px,
            rgb(28, 27, 26) 210px,
            rgba(26, 25, 24, 0.5) 230px
    ), repeating-linear-gradient(23deg, #171514 50px, #181614 100px, #1f1e1e 150px, #131312
            200px, #21201f 250px, #0c0b0b 300px, #1e1c1a 350px, #1a1614 370px);
    background-size: 200% 200%;
}

.animateBG {
    animation: 40s moveBG linear infinite;
}

.card:hover {
    transition: 1s;
    padding: 1.5rem;
    transform: translateY(-8%);
}

.redBG  {
    box-shadow: 0 0 0 0 red;
    border: 1px solid red;
    border-radius: 1rem;
    transition: 1s;
}

.blueBG {
    box-shadow: 0 0 0 0 cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 1rem;
    transition: 1s;
}

.yellowBG {
    box-shadow: 0 0 0 0 yellow;
    border: 1px solid yellow;
    border-radius: 1rem;
    transition: 1s;
}

.greyBG {
    box-shadow: 0 0 0 0 dimgray;
    border: 1px solid dimgray;
    border-radius: 1rem;
    transition: 1s;
}

.container .redBG:hover {
    box-shadow: 10px 10px 20px 10px red;
    transition: 1s;
    animation: 30s moveBG linear infinite;
}

.container .blueBG:hover {
    box-shadow: 10px 10px 20px 10px cornflowerblue;
    transition: 1s;
    animation: 30s moveBG linear infinite;
}

.container .yellowBG:hover {
    box-shadow: 10px 10px 20px 10px yellow;
    transition: 1s;
    animation: 30s moveBG linear infinite;
}

.container .greyBG:hover {
    box-shadow: 10px 10px 20px 10px dimgrey;
    transition: 1s;
    animation: 30s moveBG linear infinite;
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
}

.redGlow {
    text-shadow: 0 0 10px #ff2d2d, 0 0 20px #ff2d2d, 0 0 30px #ff3e3e, 0 0 40px #ff3939, 0 0 50px #ff2d2d, 0 0 60px #ff2d2d, 0 0 70px #ff2d2d;
}

.blueGlow {
    text-shadow: 0 0 10px lightskyblue, 0 0 20px lightskyblue, 0 0 30px lightskyblue, 0 0 40px cornflowerblue, 0 0 50px blue, 0 0 60px blue, 0 0 70px blue;
}

.yellowGlow {
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 60px yellow, 0 0 70px yellow;
}

.purpleGlow {
    text-shadow: 0 0 10px purple, 0 0 20px purple, 0 0 30px purple, 0 0 40px purple, 0 0 50px purple, 0 0 60px purple, 0 0 70px purple;
}

.greyGlow {
    text-shadow: 0 0 10px grey, 0 0 20px grey, 0 0 30px lightgrey, 0 0 40px dimgrey, 0 0 50px darkgrey, 0 0 60px grey, 0 0 70px grey;
}

.redBG {
    background: repeating-linear-gradient(
            190deg,
            rgba(203, 16, 45, 0.58) 40px,
            rgba(255, 26, 60, 0.5) 80px,
            rgba(218, 9, 9, 0.57) 120px,
            rgba(105, 3, 3, 0.5) 160px,
            rgba(176, 0, 0, 0.5) 200px,
            rgba(100, 0, 0, 0.47) 240px,
            rgba(192, 0, 0, 0.5) 280px,
            rgba(185, 4, 4, 0.5) 300px
    ), repeating-linear-gradient(
            -190deg,
            rgba(155, 9, 9, 0.5) 30px,
            rgba(89, 0, 0, 0.5) 60px,
            rgba(205, 0, 0, 0.5) 90px,
            rgba(134, 7, 31, 0.5) 120px,
            rgba(210, 11, 11, 0.5) 150px,
            rgba(134, 19, 19, 0.5) 180px,
            rgba(143, 5, 5, 0.5) 210px,
            rgba(96, 1, 1, 0.5) 230px
    ), repeating-linear-gradient(23deg, #6b0707 50px, #770404 100px, #ad0000 150px, #8c0000
            200px, #c91717 250px, #d71717 300px, #d3411f 350px, #d50f0f 370px);

    background-size: 300% 300%;
    animation: 50s moveBG linear infinite;
}

.blueBG {
    background: repeating-linear-gradient(
            190deg,
            rgba(63, 168, 255, 0.58) 40px,
            rgba(26, 159, 255, 0.5) 80px,
            rgba(76, 203, 255, 0.57) 120px,
            rgba(127, 190, 255, 0.5) 160px,
            rgba(94, 94, 255, 0.5) 200px,
            rgba(0, 110, 255, 0.47) 240px,
            rgba(128, 173, 255, 0.5) 280px,
            rgba(70, 36, 255, 0.5) 300px
    ), repeating-linear-gradient(
            -190deg,
            rgba(48, 169, 255, 0.5) 30px,
            rgba(78, 155, 255, 0.5) 60px,
            rgba(59, 72, 255, 0.5) 90px,
            rgba(100, 172, 255, 0.5) 120px,
            rgba(59, 121, 255, 0.5) 150px,
            rgba(130, 178, 222, 0.5) 180px,
            rgba(118, 124, 239, 0.5) 210px,
            rgba(124, 165, 201, 0.5) 230px
    ), repeating-linear-gradient(23deg, blue 50px, dodgerblue 100px, skyblue 150px, #4500ff
            200px, blue 250px, cornflowerblue 300px, blue 350px, #507993 370px);

    background-size: 300% 300%;
    animation: 50s moveBG linear infinite;
}

.yellowBG {
    background: repeating-linear-gradient(
            190deg,
            rgba(242, 255, 63, 0.58) 40px,
            rgba(255, 199, 50, 0.5) 80px,
            rgba(255, 207, 11, 0.57) 120px,
            rgba(255, 240, 19, 0.5) 160px,
            rgba(255, 208, 25, 0.5) 200px,
            rgba(255, 201, 0, 0.47) 240px,
            rgba(255, 225, 0, 0.5) 280px,
            rgba(230, 255, 69, 0.5) 300px
    ), repeating-linear-gradient(
            -190deg,
            rgba(255, 194, 0, 0.5) 30px,
            rgba(255, 172, 44, 0.5) 60px,
            rgba(255, 205, 0, 0.5) 90px,
            rgba(255, 196, 0, 0.5) 120px,
            rgba(255, 170, 0, 0.5) 150px,
            rgba(238, 160, 76, 0.5) 180px,
            rgba(134, 75, 0, 0.5) 210px,
            rgba(255, 135, 0, 0.5) 230px
    ), repeating-linear-gradient(23deg, #c5a400 50px, #9d6900 100px, #6c4914 150px, #ffe541
            200px, #daaa2e 250px, #72611d 300px, #d5b825 350px, #c9d51f 370px);

    background-size: 300% 300%;
    animation: 50s moveBG linear infinite;
}

.purpleBG {
    background: repeating-linear-gradient(
            190deg,
            rgba(114, 70, 255, 0.58) 40px,
            rgba(97, 13, 192, 0.5) 80px,
            rgba(77, 2, 182, 0.57) 120px,
            rgba(118, 58, 220, 0.5) 160px,
            rgba(134, 38, 255, 0.5) 200px,
            rgba(118, 51, 238, 0.47) 240px,
            rgba(116, 25, 255, 0.5) 280px,
            rgba(155, 65, 255, 0.5) 300px
    ), repeating-linear-gradient(
            -190deg,
            rgba(143, 23, 255, 0.5) 30px,
            rgba(132, 34, 255, 0.5) 60px,
            rgba(79, 18, 171, 0.5) 90px,
            rgba(125, 71, 253, 0.5) 120px,
            rgba(131, 36, 232, 0.5) 150px,
            rgba(92, 28, 201, 0.5) 180px,
            rgba(124, 39, 213, 0.5) 210px,
            rgba(132, 38, 236, 0.5) 230px
    ), repeating-linear-gradient(23deg, #6f1aef 50px, #8131ff 100px, #5602ab 150px, #6d24ff
            200px, #822eff 250px, #792dec 300px, #9c5cff 350px, #7f2bff 370px);

    background-size: 300% 300%;
    animation: 50s moveBG linear infinite;
}

.greyBG {
    background: repeating-linear-gradient(
            190deg,
            rgba(58, 58, 58, 0.58) 40px,
            rgba(37, 37, 37, 0.5) 80px,
            rgba(45, 45, 45, 0.57) 120px,
            rgba(38, 38, 38, 0.5) 160px,
            rgba(33, 33, 33, 0.5) 200px,
            rgba(37, 36, 36, 0.47) 240px,
            rgba(51, 51, 51, 0.5) 280px,
            rgba(37, 37, 37, 0.5) 300px
    ), repeating-linear-gradient(
            -190deg,
            rgba(52, 52, 52, 0.5) 30px,
            rgba(28, 28, 28, 0.5) 60px,
            rgba(38, 38, 38, 0.5) 90px,
            rgba(38, 38, 38, 0.5) 120px,
            rgba(33, 33, 33, 0.5) 150px,
            rgba(61, 61, 61, 0.5) 180px,
            rgba(44, 44, 44, 0.5) 210px,
            rgba(38, 38, 38, 0.5) 230px
    ), repeating-linear-gradient(23deg, #2f2f2f 50px, #171717 100px, #212121 150px, #313131
            200px, #2a2a2a 250px, #2a2a2a 300px, #212121 350px, #1c1c1c 370px);

    background-size: 300% 300%;
    animation: 50s moveBG linear infinite;
}

@keyframes moveBG {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

h2 {
    font-size: 1.5rem;
    border-bottom: 0.5rem whitesmoke;
    font-weight: bold;
}

.noBorder {
    border: none;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
}

.bottom {
    top: 95%;
    transition: 1s;
    padding-top: 3rem;
    opacity: 0;
}

.bottom:hover {
    top: 92%;
    transition: 1s;
    opacity: 100%;
    padding-top: 0;
}

.navbar a {
    font-size: 1.5rem;
    transition: 1s;
    color: white;
}

.navbar a:hover {
    transform: translateY(14%);
    transition: 1s;
}

.blueBG .navbar a:hover {
    color: cornflowerblue;
    transition: 1s;
}

.yellowBG .navbar a:hover {
    color: yellowgreen;
}

.redBG .navbar a:hover {
    color: red;
}

.purpleBG .navbar a:hover {
    color: rebeccapurple;
}

.greyBG .navbar a:hover {
    color: lightgrey;
}

.blur:not(.navbar a) {
    backdrop-filter: blur(10px);
}

div.outerLine {
    margin-top: 6rem;
}

.underline {
    border-bottom: 0.08rem solid white;
}

.normalTable, .normalTable td, .normalTable tr {
    border: 1px solid white;
    border-collapse: collapse;
}
body:last-child {
    padding-bottom: 3rem;
}

img {
    border-radius: 2rem;
}

.textOrange {
    color: orange;
}

pre {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: #212121;
    border-radius: 1rem;
    color: white;
}

body.noBorder {
    background-size: 200% 200%;
}

.blueBG .underline {
    color: cornflowerblue;
}

.redBG .underline {
    color: #930000;
}

.greyBG .underline {
    color: #d3d3d3;
}